<!DOCTYPE html>
<html lang="en" style="font-family:Signika Negative, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="styles.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700&amp;lang=en" />	
</head> 
<body style="font-family:'Signika Negative', 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;">
{% include header.html %}
      <div id='content'>

        {{ content }}

      </div>
{% include footer.html %}
  </body>
</html>
