<!DOCTYPE html>
<html lang="en" style="font-family:Signika Negative">
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../../../styles.css">
	  <script src="../../../dragscroll.js"></script>    
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Signika+Negative:300,400,600,700&amp;lang=en" />	
</head> 
<body style="font-family:Signika Negative">
  <p style="border-bottom:0.2em solid #777777;z-index:4;position:relative;display:inline;max-width:60vw;float:left;text-align:left;"><span style="font-size:0.75em;">The blog of the <a style="z-index:5;position:static;display:inline;" href="http://rickardhultgren.github.io/lympha/index"><span class="sc">lympha</span> project</a></p>
    <p style="z-index:4;position:relative;display:inline;max-width:60vw;float:left;text-align:left;"><span style="font-size:0.75em;">A blog about how to put the mechanics in medical protocols into action</span></p></p><br>
<p style="container">
  <a style="font-weight:normal;font-size:1.66em;letter-spacing:.125em;" href=" "/lympha{{page.url}}" >{{ page.title }}</a><br>
    <span style="font-size:.875em;margin-bottom:1em;align:left;">{{ page.date | date: "%-d %B %Y" }}</span><br><br>
        {{ content }}

{% include footer.html %}
  </body>
</html>
